html, body {
    height:100%;
    background: rgb(240, 240, 240);
}
.hero{
    background-image: url('/assets/img/background/bg.png');
    background-size: cover;
}
.hg-100{
    height: 100%;
}
.min-hg-100{
    min-height: 100%;
}
.hg-80{
    height: 80%;
}
.min-hg-80{
    min-height: 80%;
}
.hg-70{
    height: 70%;
}
.min-hg-70{
    min-height: 70%;
}
.hg-50{
    height: 50%;
}
.min-hg-50{
    min-height: 50%;
}
.hg-30{
    height: 30%;
}
.min-hg-30{
    min-height: 30%;
}
.garis{
    height:5px;width:200px;
    margin-top: 10px;
}
.card-image{
    height: 200px;
    overflow:hidden;
}
.card-image img{
   height: 100%;
   min-width:100%;
}
a{
    text-decoration: none;
    color:rgb(41, 41, 41)
}
a:hover{
    color:rgb(0, 126, 27)
}
.shd{
    box-shadow:1px 1px 16px rgb(189, 189, 189);
}
.shd:hover{
    box-shadow:0px 0px 0px;
}
.bg-purple{
    background-color: rgb(73, 1, 124);
}
.bg-soft-danger{
    background-color: rgb(214, 42, 65);
}
.text-soft-danger{
    color: rgb(175, 19, 40);
}
.text-purple{
    color: rgb(73, 1, 124);
}
.konten-thumbnail{
    height: 430px;
}
.konten-thumbnail img{
    height: 100%;
    min-width: 100%;
}
.konten p{
    text-align: justify;
}
.register-svg{
    width:100%;
    /* overflow-y: hidden; */
}
.share{
    z-index: 1;
}

.share div a{
    color: whitesmoke;
    background-color: indigo;
    padding:8px;
    width: 50px;height: 50px;
}
@media only screen and (max-width: 600px) {
    .konten-thumbnail{
        height: 200px;
    }
    .share div a{
        margin-left: -20px;
    }
}
.share div a:hover{
     background-color: rgb(146, 0, 80);
}
